%body
  .notification
  #account-page.account-page
    .account-page__inner.clearfix
      .account-page__inner--left.account-page__header
        %h2 Log in
        %h5 登録しているユーザーでログイン
        %a.btn{:href => "/users/sign_up"} Sign up
        %br/
      .account-page__inner--right.user-form
        %form#new_user.new_user{"accept-charset" => "UTF-8", :action => "/users/sign_in", :method => "post"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "8y8kmwAly44/EUbFTB9GlFpUuRgfUCmmoErP884/tgphanUn81bn5ZZbWqvJheqAPqWPUpCN4M0jVoqZ4l0xtg=="}/
          .field
            .field-label
              %label{:for => "user_email"} Email
            .field-input
              %input#user_email{:autofocus => "autofocus", :name => "user[email]", :type => "email", :value => ""}/
            .field
              .field-label
                %label{:for => "user_password"} Password
                %i (英数字8文字以上)
              .field-input
                %input#user_password{:autocomplete => "off", :name => "user[password]", :type => "password"}/
            .actions
              %input.btn{"data-disable-with" => "Log in", :name => "commit", :type => "submit", :value => "Log in"}/
